
      html body
      {

       background-color: lightblue;
       color: #fff;
       font-size: 24px;
       width: 100%;
       

      }

      body
      {

        margin: 0;
        text-align: center;
        
      }

       #logo
      {
        width: 100px;
        height: 100px;
        

      }


       #flex
      {

        display: flex;
        flex-wrap: nowrap;
        background-color: skyblue;
        font-size: 30px;
        justify-content: space-between;
        
        border: 25px solid lightblue;
      }

      .buttons
 {

        display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: skyblue;
    padding: 20px 70px;
    font-size: 24px;
    border: 1px solid #2d6898;

   }


   header
   {

     background-color: black;

   }


   footer
   {

     bottom: 0;
     position: fixed;
     padding: 5px;

   }