
      html body
      {

       background-color: lightblue;
       color: #fff;
       font-size: 24px;
       width: 100%;
       
      }
      body
      {

        margin: 0;
        text-align: center;
        
      }

      header
      {
   
        background-color: black;
   
      }

       #logo
      {
        width: 100px;
        height: 100px;
        

      }
     
      a:link
      {
        color: #fff;
      }
      a:visited
      {
        color: black;

      }
      a:hover
      {
         color: #fff;
      }
      a:active
      {
        color: pink;
        font-size: 30px;
      }
      
    



       #flex
      {

        display: flex;
        flex-wrap: nowrap;
        background-color: skyblue;
        font-size: 30px;
        justify-content: space-between;
        
        border: 25px solid lightblue;
      }

      .buttons
 {

        display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: skyblue;
    padding: 20px 70px;
    font-size: 24px;
    border: 1px solid #2d6898;

   }
   .active
   {

    background-color: pink;

   }
   footer
   {

     bottom: 0;
     position: fixed;
     padding: 5px;

   }